*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background: linear-gradient(to bottom, #f5f5f5, #ffe599);
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  min-height: 100vh;
}

.header,
.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  background: linear-gradient(45deg, #ffde59, #ffa500);
  color: #333;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  border-radius: 15px 15px 0px 0px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 6px 6px 0px black;
}

.header__link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header__link:hover {
  color: #ff6347;
  transform: scale(1.1);
}

.header__logo {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px #fff;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.form__input {
  padding: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  resize: none;
  border: 3px solid #000;
  border-radius: 12px;
  background-color: #fff6d8;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 0px #000;
  transition: all 0.3s ease;
}

.form__button {
  font-size: 1.2rem;
  background: linear-gradient(45deg, #ffde59, #ffa500);
  color: #333;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid black;
  padding: 0.5rem 2.5rem;
  align-self: flex-end;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 3px 3px 0px black;
}

.form__button:hover {
  background-color: #ffa500;
  transform: scale(1.1);
}

.form__input:focus {
  outline: none;
  border-color: #ff6347;
  box-shadow: 4px 4px 0px #333;
}

.dates {
  display: flex;
  justify-content: space-around;
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}

.dates__link {
  color: inherit;
  text-decoration: none;
  outline: none;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #fff2d8;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 3px 3px 0px black;
}

.dates__link--current {
  background: #ffde59;
  border-color: #333;
}

.dates__link:not(.dates__link--current):hover {
  background: #ffa500;
  transform: scale(1.1);
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates__link:first-of-type,
.dates__link:last-of-type,
.dates__link:nth-of-type(2),
.dates__link:nth-last-of-type(2) {
  display: none;
}

@media screen and (min-width: 25rem) {
  .dates__link:nth-of-type(2),
  .dates__link:nth-last-of-type(2) {
    display: block;
  }
}

@media screen and (min-width: 35rem) {
  .dates__link:first-of-type,
  .dates__link:last-of-type {
    display: block;
  }
}

.habit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #fff6d8;
  border: 3px solid black;
  border-radius: 12px;
  box-shadow: 4px 4px 0px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habit:hover {
  background-color: #ffe299;
  box-shadow: 6px 6px 0px black;
}

.habit:not(.completed) {
  padding: 0;
}

.habit:not(.completed):hover {
  background-color: #e9cd87;
}

.habit__icon {
  width: 1em;
  height: 1em;
}

.habit__name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.habit__form {
  width: 100%;
}

.habit__button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.habit__button--delete {
  text-align: center;
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border: 3px solid black;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 12px;
  box-shadow: 3px 3px 0px black;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.habit__button--delete:hover {
  background-color: #ff6666;
  transform: scale(1.1);
}

.habit__link {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 3px 3px 0px black;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  text-align: center;
}

.habit__link:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.habit__elements {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 760px) {
  .header,
  .main {
    max-width: 100%;
    padding: 1rem;
  }

  .habit {
    font-size: 1.2rem;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
  }

  .habit__button--delete {
    align-self: center;
    margin-top: 1rem;
  }

  .habit__elements {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }

  .habit__button--delete,
  .habit__link {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    flex: 1;
    text-align: center;
  }
}