{% extends "layout.html" %}

{% block main_content %}
  <section class="habit-list">
    {% if habits|length == 0 %}
      <div class="habit-empty">
        <p>No habits yet! <a href="{{ url_for('habits_blueprint.add_habit') }}">Add one now</a></p>
      </div>
    {% else %}
      {% for habit in habits %}
        {% set completed = habit._id in completions %}
        <div class="habit {{ 'completed' if completed }}">
          {% if completed %}
            <div class="habit__info">
              <p class="habit__name">{{ habit.name }}</p>
              {% if habit.streak > 0 %}
                <span class="habit__streak">🔥 {{ habit.streak }} day streak!</span>
              {% endif %}
            </div>
            <div class="habit__elements">
              <form method="POST" action="{{ url_for('habits.uncomplete') }}" class="habit__form">
                <input type="hidden" value="{{ habit._id }}" name="habit_id" />
                <input type="hidden" name="date" value="{{ selected_date.strftime('%Y-%m-%d') }}" />
                <button type="submit" class="habit__button habit__button--uncomplete">Undo</button>
              </form>
              <form method="POST" action="{{ url_for('habits_blueprint.delete_habit', habit_id=habit._id) }}" class="habit__form">
                <button type="submit" class="habit__button habit__button--delete">Delete</button>
              </form>
              <a href="{{ url_for('habits_blueprint.edit_habit', habit_id=habit._id) }}" class="habit__link">Edit</a>
            </div>
          {% else %}
            <form method="POST" class="habit__form" action="{{ url_for('habits_blueprint.complete_habit') }}">
              <input type="hidden" value="{{ habit._id }}" name="habit_id" />
              <input type="hidden" name="date" value="{{ selected_date.strftime('%Y-%m-%d') }}" />
              <button type="submit" class="habit__button">{{ habit.name }}</button>
            </form>
            <div class="habit__elements">
              <form method="POST" action="{{ url_for('habits_blueprint.delete_habit', habit_id=habit._id) }}" class="habit__form">
                <button type="submit" class="habit__button habit__button--delete">Delete</button>
              </form>
              <a href="{{ url_for('habits_blueprint.edit_habit', habit_id=habit._id) }}" class="habit__link">Edit</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </section>
{% endblock %}