{% extends "layout.html" %}

{% block main_content %}
  <section class="habit-list">
    {% for habit in habits %}
      {% set completed = habit["_id"] in completions %}
      {% if completed %}
        <div class="habit completed">
          <p class="habit__name">{{ habit["name"] }}</p>
          <div class="habit__elements">
            <form method="POST" action="{{ url_for('habits.delete_habit', habit_id=habit['_id']) }}" class="habit__form">
              <button type="submit" class="habit__button habit__button--delete">Delete</button>
            </form>
            <a href="{{ url_for('habits.edit_habit', habit_id=habit['_id']) }}" class="habit__link">Edit</a>
          </div>
        </div>
      {% else %}
        <div class="habit">
          <form method="POST" class="habit__form" action="{{ url_for('habits.complete') }}">
            <input type="hidden" value="{{ habit['_id'] }}" name="habitId" />
            <input type="hidden" name="date" value="{{ selected_date }}" />
            <button type="submit" class="habit__button">{{ habit["name"] }}</button>
          </form>
          <div class="habit__elements">
            <form method="POST" action="{{ url_for('habits.delete_habit', habit_id=habit['_id']) }}" class="habit__form">
              <button type="submit" class="habit__button habit__button--delete">Delete</button>
            </form>
            <a href="{{ url_for('habits.edit_habit', habit_id=habit['_id']) }}" class="habit__link">Edit</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}