<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head_content %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <header class="header">
      <h1 class="header__logo">
        <a href="{{ url_for('habits.index') }}" class="header__link">streaker</a>
      </h1>
      {% if "add" not in request.endpoint %}
        <a href="{{ url_for('habits.add_habit') }}" class="header__link">+ Add new</a>
      {% endif %}
    </header>
    <main class="main">
      <section class="dates">
        {% for date in date_range(selected_date) %}
          <a class="dates__link {{ 'dates__link--selected' if date.strftime('%Y-%m-%d') == selected_date.strftime('%Y-%m-%d') else '' }}"
             href="{{ url_for('habits.index', date=date.strftime('%Y-%m-%d')) }}">
            <time class="date" datetime="{{ date.strftime('%Y-%m-%d') }}">
              <span>{{ date.strftime('%a %d') }}</span>
            </time>
          </a>
        {% endfor %}
      </section>
      {% block main_content %}{% endblock %}
    </main>
  </body>
</html>
